<div class="shadow-card">
    <div class="header-card" *ngIf="showHeader">
        <ng-content></ng-content>
    </div>
    <div class="body-card">
        <img [src]="imageUrl" alt={{imgAlt}} class="image-card" />
        <h2>{{title}}</h2>
        <p class="paraghap-card">{{ paragraph}}</p>
        <div class="photoWrapper">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="action-card" *ngIf="showActions">
        <button type="button" (click)="onClicked()" class="btn btn-primary">Continuar</button>
        <button type="button" class="btn btn-ghost">Cancelar</button>
    </div>
</div>