<div class="shadow-card" [ngClass]="{'capture-video': showVideo === true}">
    <div class="header-card" *ngIf="showHeader">
        <ng-content></ng-content>
    </div>
    <div class="body-card">
        <img *ngIf="imageUrl" [src]="imageUrl" alt={{imgAlt}} class="image-card" />
        <h2>{{title}}</h2>
        <p class="paraghap-card">{{ paragraph}}</p>
        <p class="blue-text">{{paragraphTwo}}</p>
        <div id="photoWrapper" class="photoWrapper" *ngIf="showVideo">
            <app-video-player [url]="nextUrl"></app-video-player>
            <p class="message-cam">Mantén la identificación dentro del recuadro para que cambie a color azul y tome la fotografía.</p>
        </div>
    </div>
    <div class="action-card" *ngIf="showActions">
        <button type="button" (click)="onClicked()" class="btn btn-primary">Continuar</button>
        <button type="button" class="btn btn-ghost" *ngIf="showBtnGhost">Cancelar</button>
    </div>
    <div *ngIf="data.loader">
        <p class="subtitle-2">Procesando</p>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
</div>