<header class="header-legasing ">
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../assets/img/legasign-logotipo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../assets/icons/menu.svg" alt="">
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Nombres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/id-photo']">Precios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mis Documentos</a>
                    </li>
                    <li class="nav-item">
                        <!-- ToDo: change for font icon insted icon image  -->
                        <a class="nav-link" href="#"><img src="../../assets/icons/perfil.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>