<div class="stepper">
    <div class="wrapper-step bg-active">
        <span class="circle line-step">
            <!-- ToDo: change for icons -->
            <img class="img-fluid" src="../../../assets/icons/card.svg" alt="Icono de Identificación">
        </span>
        <p>Identificación</p>
    </div>
    <div class="wrapper-step bg-inactive">
        <span class="circle line-step">
            <!-- ToDo: change for icons -->
            <img class="img-fluid" src="../../../assets/icons/biometrics.svg" alt="Icono de Identificación">
        </span>
        <p>Foto</p>
    </div>
    <div class="wrapper-step  bg-inactive">
        <span class="circle">
            <!-- ToDo: change for icons -->
            <img class="img-fluid" src="../../../assets/icons/ok.svg" alt="Icono de Identificación">
        </span>
        <p>Validación</p>
    </div>
</div>